@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/theme.css";

@theme inline {
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-space-mono);
  --font-display-glitch: var(--font-rubik-glitch);
  --font-display-retro: var(--font-bungee-shade);
}
